{% extends "layout.html" %}

{% block pageTitle %}
  Internal report
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a demo service created for the Flood Warning Expansion Hack
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">Internal report example</h1>

<h3 class="govuk-heading-m">Location information</h3>

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Location
      </dt>
      <dd class="govuk-summary-list__value">
        Lorna Doone Farm, EX35 6NU
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> name</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Catchment
        </dt>
        <dd class="govuk-summary-list__value">
          Tor and North Devon streams
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Lead Local Flood Authority
          </dt>
          <dd class="govuk-summary-list__value">
            Devon
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Eastings and Northings
          </dt>
          <dd class="govuk-summary-list__value">
            279406, 147751
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            UPRN
          </dt>
          <dd class="govuk-summary-list__value">
            10012097110
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Property type
          </dt>
          <dd class="govuk-summary-list__value">
            Farm
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

      </dl>

      <h3 class="govuk-heading-m">Flood impact information</h3>

      <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Internal property flooding
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> date of birth</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        TIme and date flooding began
      </dt>
      <dd class="govuk-summary-list__value">
          22 November 2019 at 15:00
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> contact information</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Probable source
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">River Tor</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> contact details</span>
          </a>
        </dd>
      </div>
  
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Estimated river level at time of flooding         </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">1.9m</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Submit for inclusion in Flood Information Service?
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Yes</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>

        <h3 class="govuk-heading-m">Customer information</h3>
  
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Are they a flood warden or known local expert?
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">Yes</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> contact details</span>
                  </a>
                </dd>
              </div>
  
  
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Contact details
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">01234567890</p>
                  <p class="govuk-body">john@smith.com</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> contact details</span>
                  </a>
                </dd>
              </div>
            </dl>


            <h3 class="govuk-heading-m">Warning information</h3>
  
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Did they receive a warning?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <p class="govuk-body">Yes</p>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Flood Warning Code
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p class="govuk-body">061FWF23Tor</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> contact details</span>
                      </a>
                    </dd>
                  </div>
      
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Severity
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p class="govuk-body">Flood Warning</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> contact details</span>
                      </a>
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Message sent
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p class="govuk-body">22 November 2019 at 10:00</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> contact details</span>
                      </a>
                    </dd>
                  </div>

                </dl>
    
                  <h3 class="govuk-heading-m">Validation information</h3>
       
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Has the report been validated?
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body">Yes</p>
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          Change<span class="govuk-visually-hidden"> contact details</span>
                        </a>
                      </dd>
                    </div>
  
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Who validated this report?
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <p class="govuk-body">Mike Bloggs</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> contact details</span>
                          </a>
                        </dd>
                      </div>

                      <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            When did they validate this report?                       </dt>
                          <dd class="govuk-summary-list__value">
                            <p class="govuk-body">23rd November 2019</p>
                          </dd>
                          <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                              Change<span class="govuk-visually-hidden"> contact details</span>
                            </a>
                          </dd>
                        </div>
                         
                  </dl>
      

{% endblock %}
