{% extends "layout.html" %}

{% block pageTitle %}
  Provide impact location
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a demo service created for the Flood Warning Expansion Hack
      </span>
    </p>
  </div>
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What has been affected by flooding?</h1>

      <form class="form" action="/url/of/next/page" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  Property
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  Local area
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                  Road
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                  Landmark
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
