{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a demo service created for the Flood Warning Expansion Hack
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-form-group">
  <label class="govuk-label" for="width-20">
    Search for property
  </label>
  <input class="govuk-input" id="property" name="property" type="text">
</div>

{% endblock %}
