{% extends "layout.html" %}

{% block pageTitle %}
  What is the address?
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a demo service created for the Flood Warning Expansion Hack
      </span>
    </p>
  </div>
  <a class="govuk-back-link" href="/reporttype">Back</a>
{% endblock %}

{% block content %}

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">
      What is the address?
    </h1>
  </legend>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Postcode
    </label>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
  </div>

  <button class="govuk-button" data-module="govuk-button">
    Search
  </button>

</fieldset>

{% endblock %}
