{% extends "layout.html" %}

{% block pageTitle %}
  Report type
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a demo service created for the Flood Warning Expansion Hack
      </span>
    </p>
  </div>
{% endblock %}


{% block content %}

<form class="form" action="/locationsearch" method="post">

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
            Are you creating a new report or updating an existing report?
        </h1>
      </legend>
      <span id="sign-in-hint" class="govuk-hint">

      </span>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
          <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
            Create a new report
          </label>
          <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">

          </span>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
          <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in-2">
            Update or view an existing report
          </label>
          <span id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
            You’ll need your reference number that we emailed to you.
          </span>
        </div>
      </div>
    </fieldset>
  </div>

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>

{% endblock %}
